body{
    overflow-x:hidden;
}

.section{
    border-bottom:1px solid #222;
    &__container{
        margin: 2em auto;
        max-width:$max-width;
        box-sizing:border-box;
        .text-list__svg{
            overflow: visible;
            > path{
                pointer-events:bounding-box;
            }
        }
    }
    .popular-posts__title{
        font-size:3rem;
        margin-bottom:1em;
        color:#e3ff59;
    }
}

@media screen and (max-width:1230px) {
    .section__container{
        padding:2em;
    }
}

@media screen and (max-width:780px){
    .content-box__icon{
        display:none;
    }
}