.icon{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50% 50%;
    background-color: #e3ff59;
}

.search__button{
    padding:15px;
}

.hamburger__button{
    display:flex;
    flex-direction: column;
    width:20px;
    height:15px;
    padding:20px;
    gap:2px;
    .hamburger__line{
        width:15px;
        border:1.5px solid #000;
    }
}

@media screen and (max-width:780px) {
    .hamburger__button{
        background-color: transparent;
        .hamburger__line{
            border-color: #e3ff59;
        }
    }
}
