.search {
    display: flex;
    &__input {
        border-radius: 25px;
        padding-left:1.5em;
        margin-right: -2em;
        background-color: #292929;
        border-width: 0;
        width:0;
        outline: none;
        color:#eee;
        font-size:1.05em;
        transition: all 1s;
    }
    &__input.disabled {
        width: 0;
    }
    &__input.active {
        display: block;
    }
    &__input.expand-left {
        width:250px;
    }
    &__button {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 15px;
        border-radius: 50% 50%;
        background-color: #e3ff59;
    }
}
