.search {
    display: flex;
    &__input {
        border-radius: 25px;
        padding-left:1.5em;
        margin-right: -2em;
        background-color: #292929;
        border-width: 0;
        width:0;
        outline: none;
        color:#eee;
        font-size:1.05em;
        transition: all 1s;
    }
    &__input.expand-left {
        width:300px;
    }
}
