.underline{
    width:100%;
    height:10px;
    background-image:url("/src/img/underline.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
}
.underline.disabled{
    opacity:0;
}
.underline.active{
    opacity:1;
}




