.underline{
    width:100%;
    height:10px;
    background-image:url("https://github.com/ycraah/webDesignerDepot/blob/main/src/img/underline.svg");
    background-position: bottom;
    background-size: contain;
    background-repeat: repeat-x;
    opacity:0;
}
.underline.active{
    opacity:1;
}



