@import "../abstracts/variables";

.footer{
    border-bottom:1px solid #222;
    &__container{
        margin: 3em auto 0;
        padding-bottom:5em;
        max-width:$max-width; 
        box-sizing: border-box;
    }
}

.subscribe{
    padding:3em 0 0;
    display:flex;
    justify-content: space-between;
    gap:2em;
    &__text-list{
        flex-grow: 1;
        white-space :nowrap;
        margin-bottom:2em;
    }
    &__text{
        min-width:15px;
        color:#e3ff59;
        font-size:4.5rem;
        font-weight:bold;
        transform:scaleY(2);
    }
    &__content{
        margin-top:-1.5em;
        font-size:1.5rem;
    }
    &__title{
        margin-bottom:1em;
    }
    &__form{
        display:flex;
        gap:1em;  
    }
    &__input{
        border-radius: 25px;
        background-color: #292929;
        border-width: 0;
        outline: none;
        color:#eee;
        font-size:1rem;
        padding:0.5em 0.5em 0.5em 1.5em;
        flex-grow:1;
    }
}

@media screen and (max-width:$response-width-max-md){
    .footer__container{
        padding:2em;
    }
    .subscribe{
        display:inline-block;
        &__text{
            font-size:4rem;
        }
        &__content{
            margin-top:1em;
        }
        &__form{
            margin-bottom:3em;
        }
    }
}

.footer{
    &__menu{
        margin-top:2em;
    }
    .menu__items{
        display:flex;
        flex-wrap:wrap;
        justify-content: center;
        gap:1.5em;
        margin:2em 0;
        color:rgba(255,255,255,0.7);
    }
    .menu__icons{
        display:flex;
        justify-content: center;
        gap:3em;
        margin-bottom:2em;
    }
    .display-on-mobile{
        font-size:1.3rem;
        color:#e3ff59;
        display:none;
    }
}

@media screen and (max-width:$response-width-max-sm) {
    .footer{
        .menu__items{
            flex-direction: column;
            align-items: center;
            gap:1em;
        }
        .display-on-mobile{
            display:block;
        }
        &__container{
            padding:1em;
        }
        .subscribe{
            &__form{
                flex-direction: column;
                width:100%;
            }
            &__input{
                box-sizing: border-box;
                padding:0 0 0 1em;
                width:100%;
                height:3em;
            }
        }
    }
}
