.section__content-box{
    .grid-container{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        padding:1em;
        grid-gap:2em;
        box-sizing:border-box;
    }
}

.section__popular-posts{
    .popular-posts__list{
        display:grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap:2em;
    }
}

@media screen and (max-width: 1030px) {
    .section{
        .hidden-on-mobile{
            display:none;
        }
    }
    .section__content-box{
        .grid-container{
            grid-template-columns: 1fr;
            grid-template-rows:1fr;
        }
    }
    .section__popular-posts{
        .popular-posts__list{
            grid-template-columns:1fr 1fr;
            grid-template-rows:1fr;
        }
    }
}

