@import url(../abstracts/_variables.scss);

.header{
    padding:16px 0;
    &__container{
        margin:0 auto;
        max-width:$max-width;
    }
    &__nav{
        display:flex;
        align-items: center;
        font-size:1em;
    }
    &__logo{
        .logo__svg{
            width:$svg-size;
            height:$svg-size;
        }
    }
    &__menu{
        margin-left:auto;
        margin-right:0;
        .menu__items{
            display:flex;
            gap:2em;
        }
    }
    &__search{
        margin-left:2em;
        display:inline-block;
        transform:translateY(-15%);
    }
}

