.webkit-ellipsis{
    display:-webkit-box;
    -webkit-box-orient: vertical; 
    overflow: hidden; 
    text-overflow: ellipsis; 
    width:95%;
}

.webkit-ellipsis-line-2{
    @extend .webkit-ellipsis;
    -webkit-line-clamp: 2;
}

.webkit-ellipsis-line-3{
    @extend .webkit-ellipsis;
    -webkit-line-clamp: 3;
}

.webkit-ellipsis-line-4{
    @extend .webkit-ellipsis;
    -webkit-line-clamp: 4;
}