@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
@import url(../abstracts/_variables.scss);
@import url(../abstracts/_variables.scss);
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul, li {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*커스텀*/
a {
  color: inherit;
  text-decoration: none;
}

button {
  background: inherit;
  border: none;
  box-shadow: none;
  border-radius: 0;
  padding: 0;
  overflow: visible;
  cursor: pointer;
}

@font-face {
  font-family: "GmarketSans";
  src: url("/src/fonts/GmarketSansTTFLight.ttf") format("truetype");
  font-weight: 300; /* Light */
}
@font-face {
  font-family: "GmarketSans";
  src: url("/src/fonts/GmarketSansTTFMedium.ttf") format("truetype");
  font-weight: 500; /* Medium */
}
@font-face {
  font-family: "GmarketSans";
  src: url("/src/fonts/GmarketSansTTFBold.ttf") format("truetype");
  font-weight: 700; /* Bold */
}
html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: "GmarketSans", "Noto Sans KR", Arial, sans-serif;
}

.header {
  padding: 16px 0;
  border-bottom: 1px solid #222;
}
.header__container {
  margin: 0 auto;
  max-width: 1350px;
}
.header__nav {
  display: flex;
  align-items: center;
  font-size: 1em;
}
.header__logo .logo__svg {
  width: 48px;
  height: 48px;
}
.header__menu {
  margin-left: auto;
  margin-right: 0;
}
.header__menu .menu__items {
  display: flex;
  gap: 2em;
}
.header__search {
  margin-left: 2em;
  display: inline-block;
  transform: translateY(-15%);
}

.section {
  border-bottom: 1px solid #222;
}
.section__container {
  margin: 2em auto;
  max-width: 1350px;
}
.section__container .text-list__svg {
  overflow: visible;
}
.section__container .text-list__svg > path {
  pointer-events: bounding-box;
}

.theme--dark {
  background-color: #121212;
  color: #fff;
}

.theme--white {
  background-color: #fff;
  color: #000;
}

.search {
  display: flex;
}
.search__input {
  border-radius: 25px;
  padding-left: 1.5em;
  margin-right: -2em;
  background-color: #292929;
  border-width: 0;
  width: 0;
  outline: none;
  color: #eee;
  font-size: 1.05em;
  transition: all 1s;
}
.search__input.expand-left {
  width: 300px;
}
.search__button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px;
  border-radius: 50% 50%;
  background-color: #e3ff59;
}

.underline {
  width: 100%;
  height: 10px;
  background-image: url("/src/img/underline.svg");
  background-position: bottom;
  background-size: contain;
  background-repeat: repeat-x;
}

.underline.disabled {
  opacity: 0;
}

.underline.active {
  opacity: 1;
}

.section__content-box .grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2em;
}

.content-box {
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 25px;
  padding: 30px;
  flex-direction: column;
  justify-content: space-between;
}
.content-box .content-box__image {
  position: relative;
  border-radius: 25px;
  overflow: hidden;
  height: 600px;
}
.content-box .content-box__image > img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.content-box .content-box__header {
  margin-top: 0.5em;
  font-size: 2rem;
  line-height: 150%;
  font-weight: 500;
}
.content-box .content-box__body {
  margin-top: 1.5em;
  font-size: 1rem;
  line-height: 150%;
  color: rgba(255, 255, 255, 0.7);
}
.content-box .content-box__footer {
  display: flex;
  margin-top: 1.5em;
  font-size: 0.8rem;
  align-items: center;
}
.content-box .content-box__author {
  color: rgb(227, 255, 89);
}
.content-box .content-box__date {
  margin-left: 1em;
  color: rgba(255, 255, 255, 0.5);
}
.content-box .content-box__icon {
  margin-left: auto;
  border: 1px solid rgb(227, 255, 89);
  padding: 7px;
  border-radius: 50%;
  background-color: rgb(227, 255, 89);
}

.webkit-ellipsis, .webkit-ellipsis-line-3 {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 95%;
}

.webkit-ellipsis-line-3 {
  -webkit-line-clamp: 3;
}/*# sourceMappingURL=main.css.map */